.main-selector {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.selector-style {
  outline: 2px dashed #bbe1fa;
  width: 600px;
  height: 400px;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;

  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "step"
    "instruction";
  place-items: center;
  margin: auto;

  color: #bbe1fa;
}

.step {
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: auto;
  color: #bbe1fa;
}

.instruction {
  font-size: 20px;
  margin-bottom: auto;
  color: #bbe1fa;
}
