header {
  grid-area: header;
  margin-bottom: 50px;
  font-size: 15px;
  text-align: left;
  color: white;
  background-color: #333333;
}

h1 {
  margin-left: 10%;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: white;
}

footer {
  grid-area: footer;
  height: 75px;
  margin-top: 100px;

  color: black;
  font-size: 10px;
  text-align: center;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 700px 600px auto;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    "header header"
    "main   main"
    "show show"
    "footer footer";
  grid-row-gap: 100px;
  grid-column-gap: 20px;
}

.main {
  margin: auto;
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #c1c1e6, #c1d9e6);
}

.show {
  grid-area: show;
  height: 100%;
  width: 100%;
}
