header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 700px 100px 500px auto 
}

.display-selector {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.display-selector > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.display-selector .main-display {
    z-index: 2;
}

.display-selector .main-selector {
    z-index: 1;
}

.options {
    margin: auto auto;
}

.photomosaic{
    padding-right: 10px;
}

.download{
    padding-right: 10px;
}