.image-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selector-label{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    border-radius:20%/100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    color: white;
}

.selector-button {
    opacity: 0;
    position: absolute;
}