.dnd-container {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.sample {
    display: inline-block;
    margin: 15px;
    height: 115px;
    width: 115px; 
}

.sample-option {
    opacity: 0;
    z-index: -1;
    float: right;
    width: 15px;
    height: 15px;
}

.sample:hover > .sample-option {
    opacity: 1;
}

.sample-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #F7CAC9; 
}