.photomosaic-button {
  font-size: 20px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #98fb98;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 3px -3px #aef4af;
  }
  to {
    box-shadow: 0 0 3px 3px #aef4af;
  }
}
