span {
  margin-right: 10px;
}

a:link {
  color: #a0a0a0;
  background-color: transparent;
  text-decoration: none;
}

.footer-container {
  height: 100px;
  margin-top: auto;
  background-color: #353935;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.author-name {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-style: italic;
  margin-right: 10px;
}

.icons {
  margin-top: 40px;
  width: 25px;
  height: 25px;
}
