.main-display {
    display: block;
    border: 3px solid #F7CAC9;
    max-height: 600px;
    max-width: 600px;
}

.display-container {
    margin:auto;
}

.display-image {
    width: 100%;
    height: 100%;
}