.main-display {
  height: 550px;

  max-width: 96%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.main-display > * {
  max-height: 100%;
  max-width: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.display-image {
  z-index: 1;
}

.loading-animation-container {
  z-index: 2;
  display: block;
  top: 20%;
}
.loading-animation {
  width: 40px;
  height: 40px;
}
